.navbar-brand {
    color: rgb(251, 255, 122);
}
.nav-item .nav-link{
    color: #ffffff;
    cursor: pointer;
}

.nav-item:hover {
    border: 0.1px solid rgb(93, 93, 236);
    background-color: #5a5656;
    font-weight: 600;
}